/* Styles for Phaser game */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--tg-theme-bg-color, #333);
    color: var(--tg-theme-text-color, #fff);
}

#game-container {
    width: 100%;
    max-width: 390px;
    height: 744px;
    margin: auto;
    border: 1px solid var(--tg-theme-button-color, black);
}
